@use './variables.scss' as variable;

.paragraph {
    font-size: 1rem;
    line-height: clamp(1rem, 10px, 1.4rem);
    letter-spacing: 2px;
    font-weight: 400;
    font-family: var(--font-raleway);
}

.disable {
    display: none !important;
}

.title {
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 2.5em;
}
