@use '../../sass/variables.scss' as variable;

.loginForm {
    &--mainWrapper {
        @include variable.flex-container(column, center, center);
        gap: 25px;
        &--inputWrapper {
            position: relative;
            width: 100%;
            &__input,
            &__select {
                width: 100%;
                padding: 15px;
                border: 1px solid variable.$white;
                border-radius: 10px;
                color: variable.$white;
                font-size: 1.1em;
                background: none;
                appearance: none;
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
            &__select {
                cursor: pointer;
            }
            &__value {
                width: fit-content;
            }
            &--dropList {
                @include variable.flex-container(
                    column,
                    flex-start,
                    flex-start
                );
                position: absolute;
                width: 100%;
                z-index: 1;
                max-height: 128px;
                overflow-y: auto;
                box-shadow: 1px 1px 5px variable.$white;
                &__item {
                    width: 100%;
                    text-align: start;
                    padding: 7px;
                    background: variable.$black;
                    color: variable.$white;
                    border: 1px solid variable.$white;
                    cursor: pointer;
                    transition: 0.3s ease;

                    &:hover {
                        background: variable.$black-hover;
                    }
                }
            }
            &__label {
                color: variable.$white;
                position: absolute;
                left: 20px;
                top: -10px;
                background: variable.$black;
                padding: 0 5px;
            }
            &__arrow {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }
        &__signInBtn {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background: variable.$white;
            color: variable.$black;
            cursor: pointer;
            transition: 0.3s ease;
            @include variable.flex-container(row, center, center);

            &:hover {
                background: variable.$white-hover;
            }

            &__disabled {
                cursor: not-allowed;

                &:hover {
                    background: variable.$white;
                }
            }
        }

        &__message {
            color: variable.$green;
            padding: 5px;
            max-width: 227px;
            text-align: center;

            &__error {
                color: variable.$red;
            }
        }
    }
    &__error {
        color: variable.$red;
    }
}
