@use '../../sass/variables.scss' as variable;

.addUser {
    &--requirment {
        position: absolute;
        bottom: 50px;
        right: 50px;
        border: 1px solid variable.$white;
        border-radius: 15px;
        padding: 15px 35px;

        &__title {
            color: variable.$white;
            padding: 7px 0;
            font-size: 1.1em;
        }

        &__conditions {
            color: variable.$white;
            font-size: 0.7em;
            padding: 5px 0;
            list-style: square;
        }

        &__subconditions {
            padding-left: 15px;
            list-style: disc;
        }
    }

    &--destinationBtn {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        padding: 12px 24px;
        border-radius: 10px;
        background: variable.$white;
        color: variable.$black;
        cursor: pointer;
        transition: 0.3s ease;
        text-decoration: none;

        &:hover {
            background: variable.$white-hover;
        }
    }
}
