@use '../../sass/variables.scss' as variable;

.mainPanel {
    &--mainWrapper {
        @include variable.flex-container(column, center, center);
        width: 100%;
        height: 100%;
        font-size: 2em;
        gap: 50px;
        color: variable.$black;

        &__menuItemWrapper {
            @include variable.flex-container(row, center, center);
            gap: 35px;
            padding: 35px;
            border-radius: 20px;
            background: variable.$black;
        }
    }
}
