@use '../../../sass/variables.scss' as variable;

.dashboard {
    &--mainWrapper {
        width: 100%;
        height: 100%;
        @include variable.flex-container(row, space-between, center);
    }
    &--right {
        @include variable.flex-container(row, center, center);
        border-radius: 30px;
        background: variable.$white;
        padding: 20px;
        width: 100%;
        height: 100%;
    }
}
